#map {
  height: 500px;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
h1{
  text-align: center;
}
.MainContainer{
  height: 100%;
}
.centerAlign{
  width: 1000px;
  display: block;
  margin: 0px auto;
  height: 100%;
}
#floating-panel {
  position: absolute;
  top: 64px;
  left: 43%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  font-size: 14px;
}
